.board-row {
    width: 250px;
    height: 50px;
}

.letter {
    font-size: 1.5em;
    font-weight: 500;
}

.keyboard {
    width: 80vw;
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {

    .letter {
        font-size: 2.2em;
    }

    .board-row {
        width: 300px;
        height: 60px;
    }

    .keyboard {
        width: 60vw;
    }

}

@media screen and (min-width: 992px) {
    .keyboard {
        width: 40vw;
    }
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}